@import "settings";
@import "foundation";

@import "normalize";

@import "icon-fonts";

@import "helpers";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
  height: 100%;
}

select,
textarea {
  margin-bottom: rem-calc(16);
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: rem-calc(16 0);
  padding: 0;
}

.browsehappy-alert {
  margin: rem-calc(16 0 0);
  text-align: center;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.head_panel {
  margin-top: rem-calc(16);
}

.center {
  display: block;
  margin: 0 auto;
}

.events.main-content .event-header {
  &:before {
    display: block;
    content: " ";
    margin-top: -$topbar-height;
    height: $topbar-height;
    visibility: hidden;
  }
}

.main-footer {
  overflow: hidden;
  height: $footer-height;
  line-height: $footer-height;
  position: relative;
  background: $topbar-bg-color;
  font-weight: bold;
  color: white;
  .social-media,
  .address,
  .copyright {
    text-align: center;
  }
  .social-media {
    line-height: $footer-height/4;
    & a {
      margin: rem-calc(0 8);
    }
  }
  .address {
    line-height: $footer-height/2;
  }
  .copyright {
    line-height: $footer-height/4;
  }
}

.paypal-donate {
  text-align: center;
  margin: 0;
}

.loading_spinner {
  width: rem-calc(100);
  height: rem-calc(100);
  margin: 0 auto;
}

.pad-left {
  padding-left: rem-calc(40);
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: rem-calc(20);
}

.margin-top {
  margin-top: rem-calc(20);
}

.text-center {
  text-align: center;
}

.alert-box > p {
  margin-bottom: 0;
}

label.required:after {
  content: " *";
  color: $alert-color;
}

input[type=radio] {
  &:hover {
    cursor: pointer;
  }
  + label {
  display: inline;
  }
}

ul.clearing-thumbs.clearing-feature {
  float: left;
}

.pet-name {
  text-align: center;
  text-transform: uppercase;
  > span {
    font-size: rem-calc(48);
    box-shadow: inset 0px 0px 3px $topbar-bg-color;
    text-shadow: 1px 1px 1px $topbar-bg-color;
    margin-bottom: 0;
  }
}

.options {
  list-style: none;
  margin: rem-calc(0 0 10 0);
  font-size: rem-calc(12);
  text-align: center;
  li {
    &:after {
      @media #{$medium-up} {
        content: " | ";
      }
    }
    &:last-of-type {
      margin-right: 0;
      &:after {
        content: "";
      }
    }
    @media #{$medium-up} {
      display: inline;
    }
  }
  @media #{$large-up} {
    font-size: rem-calc(16);
  }
}

.upcoming-events-list > li {
  list-style: none;
}

a.th {
  max-width: rem-calc(200);
}

li[data-orbit-slide] {
  cursor: pointer;
}

.main-content-slider li div {
  color: white;
  background: $main-content-slider-bg;
  padding: rem-calc(30 40);
  height: rem-calc(200);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
  a {
    color: darken($primary-color, 10%);
  }
}
