@import "settings";
@import "foundation";

@import "normalize";

@import "icon-fonts";

@import "helpers";

// @import "media-queries";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html,
body {
  height: 100%;
}

select,
textarea {
  margin-bottom: rem-calc(16);
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
  padding: 0;
}

.browsehappy-alert {
  margin: rem-calc(16 0 0);
  text-align: center;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.main-header .sc,
.main-header .sr {
  text-align: center;
}

.head_panel {
  margin-top: 1em;
}

.center {
  display: block;
  margin: 0 auto;
}

.events.main-content .event-header {
  &:before {
    display: block;
    content: " ";
    margin-top: -$topbar-height;
    height: $topbar-height;
    visibility: hidden;
  }
}

.main-footer {
  overflow: hidden;
  height: $footer-height;
  line-height: $footer-height;
  position: relative;
  background: $topbar-bg-color;
  font-weight: bold;
  color: white;
  .social-media,
  .address,
  .copyright {
    text-align: center;
  }
  .social-media {
    line-height: $footer-height/4;
    & a {
      margin: 0 .5em;
    }
  }
  .address {
    line-height: $footer-height/2;
  }
  .copyright {
    line-height: $footer-height/4;
  }
}

.paypal-donate {
  text-align: center;
  margin: 0;
}

.loading_spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.pad-left {
  padding-left: rem-calc(40);
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: rem-calc(20);
}

.margin-top {
  margin-top: rem-calc(20);
}

.text-center {
  text-align: center;
}

.alert-box > p {
  margin-bottom: 0;
}

label.required:after {
  content: " *";
  color: $alert-color;
}

input[type=radio] {
  &:hover {
    cursor: pointer;
  }
  + label {
  display: inline;
  }
}

ul.clearing-thumbs.clearing-feature {
  float: left;
}

.pet-name {
  text-align: center;
  text-transform: uppercase;
  > span {
    font-size: rem-calc(48);
    box-shadow: inset 0px 0px 3px $topbar-bg-color;
    text-shadow: 1px 1px 1px $topbar-bg-color;
  }
  @media #{$large-up} {
    float: left;
  }
}

.options {
  float: right;
  list-style: none;
  margin-bottom: 0;
  font-size: rem-calc(12);
}

.upcoming-events-list > li {
  list-style: none;
}

a.th {
  max-width: rem-calc(200);
}

// .img-th {
//   width: 200px;
//   line-height: 0;
//   display: inline-block;
//   border: solid 4px white;
//   max-width: 100%;
//   -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
//   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
//   -webkit-transition: all 200ms ease-out;
//   -moz-transition: all 200ms ease-out;
//   transition: all 200ms ease-out;
//   &:hover,
//   &:focus {
//     -webkit-box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
//     box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
//   }
// }

// @media only screen and (min-width: 40.063em)
//   .clearing-assembled .clearing-container .carousel > ul li a.th {
//     border: none;
//     -webkit-box-shadow: none;
//     box-shadow: none;
//     display: block;
//   }
// }
