@import "settings";
@import "foundation";

@import "normalize";

@import "icon-fonts";

@import "helpers";

// @import "media-queries";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html,
body {
  height: 100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
  padding: 0;
}

.browsehappy-alert {
  margin: rem-calc(16 0 0);
  text-align: center;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.main-header .sc,
.main-header .sr {
  text-align: center;
}

.head_panel {
  margin-top: 1em;
}

.center {
  display: block;
  margin: 0 auto;
}

.events.main-content .event-header {
  &:before {
    display: block;
    content: " ";
    margin-top: -$topbar-height;
    height: $topbar-height;
    visibility: hidden;
  }
}

.main-footer {
  overflow: hidden;
  height: $footer-height;
  line-height: $footer-height;
  position: relative;
  background: $topbar-bg-color;
  font-weight: bold;
  color: white;
  .social-media,
  .address,
  .copyright {
    text-align: center;
  }
  .social-media {
    line-height: $footer-height/4;
    & a {
      margin: 0 .5em;
    }
  }
  .address {
    line-height: $footer-height/2;
  }
  .copyright {
    line-height: $footer-height/4;
  }
}

.paypal-donate {
  text-align: center;
  margin: 0;
}

.loading_spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.pad-left {
  padding-left: rem-calc(40);
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: rem-calc(20);
}

.margin-top {
  margin-top: rem-calc(20);
}

.text-center {
  text-align: center;
}

.alert-box > p {
  margin-bottom: 0;
}

label.required:after {
  content: " *";
  color: $alert-color;
}

input[type=radio] {
  &:hover {
    cursor: pointer;
  }
  + label {
  display: inline;
  }
}

ul.clearing-thumbs.clearing-feature {
  float: left;
}

.pet-name {
  text-transform: uppercase;
  > span {
    box-shadow: inset 0px 0px 10px $topbar-bg-color;
  }
}

.options {
  list-style: none;
}

.upcoming-events-list > li {
  list-style: none;
}
