@import "normalize";

@import "icon-fonts";

@import "vendor/boilerplate-defaults";
@import "vendor/boilerplate-helpers";
@import "vendor/foundation";

@import "media-queries";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
      content: "";
      display: block;
      height: $footer-height;
  }
}

.main-header .sc,
.main-header .sr {
    text-align: center;
}

.head_panel {
    margin-top: 1em;
}

.center {
    display: block;
    margin: 0 auto;
}

.main-footer {
    overflow: hidden;
    height: $footer-height;
    line-height: $footer-height;
    position: relative;
    background: $topbar-bg-color;
    font-weight: bold;
    color: white;
    .social-media,
    .address,
    .copyright, {
      text-align: center;
    }
    .social-media {
      line-height: $footer-height/4;
      & a {
        margin: 0 .5em;
      }
    }
    .address {
      line-height: $footer-height/2;
    }
    .copyright {
      line-height: $footer-height/4;
    }
}

.paypal-donate {
    text-align: center;
    margin: 0;
}

.loading_spinner {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.pad-left {
    padding-left: 40px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 1em;
}

.text-center {
  text-align: center;
}

.alert-box > p {
    margin-bottom: 0;
}