################################
### Default Astro .gitignore ###
################################
# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/


########################################
### alexdiliberto Default .gitignore ###
########################################
# Folder view configuration files
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes


###################################
### Project Specific .gitignore ###
###################################
# environment variables
.dev.vars

# cloudflare
.wrangler/