name = "scsheltierescue-com"
pages_build_output_dir = "./dist"
compatibility_flags = [
  "nodejs_compat",
  "disable_nodejs_process_v2"
]
compatibility_date = "2025-11-01"
upload_source_maps = true
kv_namespaces = [
  { binding = "TOKEN_CACHE", id = "default-kv-namespace-id" }
]

[env.production]
name = "scsheltierescue-com"
kv_namespaces = [
  { binding = "TOKEN_CACHE", id = "30755a9246c24a76b024cadfc3576e47" }
]

[env.production.vars]
NODE_VERSION = "22.20.0"
PNPM_VERSION = "10.23.0"
SKIP_DEPENDENCY_INSTALL = "1"

[env.preview]
name = "scsheltierescue-com-preview"
kv_namespaces = [
  { binding = "TOKEN_CACHE", id = "30755a9246c24a76b024cadfc3576e47" }
]

[env.preview.vars]
NODE_VERSION = "22.20.0"
PNPM_VERSION = "10.23.0"
SKIP_DEPENDENCY_INSTALL = "1"
