---
import Layout from '@layouts/Layout.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro'

const crumbs = [
  {
    text: 'Help',
    href: "/help",
  },
  {
    text: 'Communicating with Your Sheltie',
  }
];
---

<Layout
  title="Communicating With Your Sheltie"
  description="Information about ways to effectively communicate with your new Sheltie."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <Breadcrumbs crumbs={crumbs} />

        <h2 class="headline first">Communicating with Your Sheltie</h2>

        <p><strong>Learn to "Talk Dog"</strong></p>

        <p>When you live with one long enough, you will swear that your Sheltie can talk to you without using the English language &#8212; and you are right! Your Sheltie talks to you all the time (and not just by barking!). All you need to do to understand him is to pay attention to all the ways that he communicates with you.</p>

        <p>Dogs use all parts of their bodies to communicate with you. And dogs watch our bodies carefully to try and understand what we are telling them. In fact, dogs understand your body language much better than your words.</p>

        <p><strong>Here are some important points to remember:</strong></p>

        <p>It is rude to greet a dog with a direct, frontal approach or by staring directly at them. Although it is the expected method of greeting people, that frontal approach is frightening to some dogs and communicates a challenge to others. When you greet your foster or adoptive Sheltie, particular if the Sheltie is timid or hesitant, do not stare at him.Turn your body and head at a slight angle away from him and allow him to approach you at his own pace.If the Sheltie chooses not to approach, or if he backs away, do not pursue him. He is telling you that he does not wish to interact at this time &#8212; respect his wishes!</p>

        <p>If the Sheltie willingly approaches you, ask permission to pet him first.Do not pet him on the top of the head. That is rude in dog language. The proper way to pet a dog, if the dog seems willing to greet you, is to allow the dog to sniff your hand first, then stroke the dog under the chin or on the chest. Then, you can slowly move your hand behind an ear, or to the top of his head.</p>

        <p><strong>To understand if a Sheltie is shy, anxious or fearful, look for some of these signs:</strong></p>

        <div class="border border-solid border-stone-300 bg-neutral-200 text-zinc-800 p-5 mb-5">
          <ul class="list-disc first:mt-0 last:mb-0">
            <li>Looking away, showing the whites of his eyes</li>
            <li>Licking lips</li>
            <li>Ears flattening on head</li>
            <li>Backing away or leaning back on hind legs</li>
            <li>Rapid panting</li>
          </ul>
        </div>

        <p>A Sheltie that is extremely fearful or feels trapped in a scary situation may feel that his only defense is to run away or become defensive by snapping, growling, or biting. If this happens, he is NOT trying to be dominant, he is trying to get himself to a place he feels safer or to protect himself. Be sensitive to the early signs of fear and uncertainty and quickly get your Sheltie out of the situation in which he feels so uncomfortable.</p>

        <p><strong>Here are signs that a Sheltie is happy or wants to play:</strong></p>

        <div class="border border-solid border-stone-300 bg-neutral-200 text-zinc-800 p-5 mb-5">
          <ul class="list-disc first:mt-0 last:mb-0">
            <li>Play bow (front paws on the ground, hind end up in the air)</li>
            <li>A happy, quick bark</li>
            <li>Paw in the air</li>
            <li>A happy "grin" (mouth open, loose lips)</li>
            <li>Ears forward</li>
          </ul>
        </div>

        <p>These descriptions are a very limited introduction to the world of dog language. For a greater understanding of communicating well with your dog, we recommend the following websites and books:</p>

        <p><strong>Books:</strong></p>

        <p><cite><a href="http://www.amazon.com/Talking-Terms-Dogs-Calming-Signals/dp/1929242360/">On Talking Terms with Dogs &#8211; Calming Signals</a><cite> by <em class="fn">Turid Rugaas</em></p>

        <p><cite><a href="http://www.amazon.com/Other-End-Leash-What-Around/dp/034544678X/">The Other End of the Leash &#8211; Why We Do What We Do Around Dogs</a><cite> by <em class="fn">Patricia McConnell</em></p>

        <p><cite><a href="http://www.amazon.com/Help-Your-Fearful-Step---Step/dp/0966772679/">Help for Your Fearful Dog</a><cite> by <em class="fn">Nicole Wilde</em></p>

        <p><cite><a href="http://www.amazon.com/Canine-Body-Language-Photographic-Interpreting/dp/1929242352/">Canine Body Language: A Photographic Guide Interpreting the Native Language of the Domestic Dog</a><cite> by <em class="fn">Brenda Aloff</em></p>

        <p><strong>Websites:</strong></p>

        <p><a href="https://www.dogstardaily.com/training/body-language">Body Language | Dog Star Daily</a>: Dog Star Daily is a comprehensive website on canine behavior, with a section on dog body language</p>

        <p><a href="https://www.aspcapro.org/sites/default/files/canine-body-language-aspca.pdf">Virtual Pet Behaviorist | ASPCA</a> A comprehensive article on canine body language by the American Society for the Prevention of Cruelty to Animals</p>

        <p><a href="https://www.webmd.com/pets/dogs/features/what-is-your-dog-telling_you">Dog Body Language: Eyes, Ears, Tails, and More</a>: A detailed narrative by WebMD on dog body language</p>

        <p><a href="https://www.pawsacrossamerica.com/interpret.html">Paws Across America | Interpret</a>: Paws Across America: How to Interpret Your Dog’s Body Language, Facial Expressions and Vocalizations</p>
      </main>
    </div>
  </div>
</Layout>