---
import Layout from '@layouts/Layout.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';

const crumbs = [
  {
    text: 'Help',
    href: '/help',
  },
  {
    text: 'Fostering a Sheltie',
  },
];
---

<Layout
  title="Fostering a Sheltie"
  description="Information about how to help SC Sheltie Rescue by fostering a Sheltie."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <Breadcrumbs crumbs={crumbs} />

        <h2 class="headline first">Fostering a Sheltie</h2>

        <div class="border border-solid block font-normal mb-5 p-3 relative bg-primary-c border-primary-c-darker text-zinc-100">
          <p class="mb-0 uppercase">South Carolina Sheltie Rescue needs you! Be a foster home!</p>
        </div>

        <p>Have you considered becoming a foster home for South Carolina Sheltie Rescue (SCSR)? Are you already a foster home? Kudos to you! Foster homes are the single most valuable role you can take to help SC Sheltie Rescue. Without enough foster homes, SC Sheltie Rescue cannot take in homeless dogs or must kennel their rescues, which is not a good solution for the mental health and well-being of the rescue dog, or the financial situation of SC Sheltie Rescue.</p>

        <p>Once you have applied and are accepted as a foster home, SC Sheltie Rescue pays for vet visits to an SCSR affiliated or pre-approved veterinarian. This may include a veterinary evaluation, heartworm treatment or prevention, vaccinations, flea and tick prevention, any special medical treatments or treatments for injuries, and spay/neuter surgery. Foster homes are expected to pay for the dog's treats and toys and food.</p>

        <p>What does it take to be a successful foster home? It's one thing to be a helpful foster home and another thing to be truly successful one. Below is a checklist of things you can do to be a great foster home, ensuring that the dog you foster is well-prepared for life in his adoptive home.</p>

        <p>Help your foster dog learn to be a real family member:</p>

        <p>Allow him to spend at least a portion of the day inside your home. Your foster dog may never have lived inside a home before.</p>

        <p>Housetrain your foster dog. Even if you have a dog door, spend time house training and helping him learn how to ask to go outside when there is no access to a dog door. Your foster dog may be placed in a home that does not have a dog door.</p>

        <p>Crate train your foster dog. Learning how to rest quietly in a crate is an important life skill for a dog. Crating is also a valuable tool for housetraining. It is also important for a dog to have this skill in case he is ever hospitalized and crated at the vet's office. Proper, gradual and positive crate training techniques are described in puppy training books, such as <cite><a href="http://www.amazon.com/Puppy-Care-Training-Terra-Nova-Series/dp/0793836816">The Puppy Care & Training Book</a></cite> by <em class="fn">Teoti Anderson</em>.</p>

        <p>Pay attention to your foster dogs' likes and dislikes, so that SC Sheltie Rescue can make an accurate adoption match. Find out whether your dog likes other dogs (e.g. what size, breed, activity level), cats, children (what ages), and men. However, be very cautious in your introductions. Observe his reactions from a distance and on lead before proceeding closer. It is not a good idea to allow children or adults to hug or kiss your foster dog. Most dogs do not like this type contact, though some may tolerate it.</p>

        <p>If you identify issues that may affect his chances of adoption, such as shyness or fearfulness, or behaviors towards other dogs or people that concern you, contact SC Sheltie Rescue for referral to a positive trainer experienced in understanding dog behavior, or for assistance from an SCSR volunteer trainer.</p>

        <p>Teach your foster dog some basic manners. His new adoptive home would appreciate a dog who knows how to sit politely to go outside or to have his leash attached, to sit for dinner and to sit politely when greeting people, rather than jumping them. Teaching your foster dog to walk politely on lead would be a huge boost to adoptability. Don't allow your foster dog to get on the sofa or bed. You may not mind that, but his potential adoptive home may have different ideas! Dogs need consistency, so set boundaries and rules while he is in your care.</p>

        <p>Want to increase your foster dog's opportunities to find a new home? Once you have worked on polite behavior and good manners, take him out in public frequently. You could make a bandanna that says "Adopt Me". This will attract the attention of potential adopters. Teaching one or two cute tricks is another way to boost his adoptability!</p>
      </main>
    </div>
  </div>
</Layout>
