---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Help"
  description="Expert help and advice for your sheltie."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <h2 class="headline first">Expert Help and Advice</h2>
        <p>Phyllis Beasley is past co-founder of South Carolina Sheltie Rescue. She is a certified professional dog trainer (CPDT-KA) through the Council for the Certification of Professional Dog Trainers. She is an assistant trainer with Pawsitive Results, LLC, and a volunteer trainer for the Greater Columbia Obedience Club. Phyllis also volunteers her training skills with SC Sheltie Rescue to help foster and adoptive homes, including writing helpful articles addressing many issues that arise with sheltie ownership or fostering. Please check back for more articles to come!</p>

        <h2 class="headline">Articles</h2>
        <div class="large-12 medium-12 small-12 columns">
          <ul class="block list-none list-outside m-0 py-3.5 px-0 *:mb-1.5 *:text-sm [&_a]:text-cyan-600 [&_a]:block [&_a]:m-0 [&_a]:py-1.5 [&_a]:px-3 [&_a:hover]:text-cyan-400 [&_a:hover]:bg-black/[.025] [&_a:focus]:text-cyan-400 [&_a:focus]:bg-black/[.025] [&_a:active]:text-cyan-400" role="navigation" title="Article Link List">
            <li role="menuitem"><a href="/help/articles/housetraining">Housetraining Tips</a></li>
            <li role="menuitem"><a href="/help/articles/bringing-your-sheltie-home">Bringing Your New Sheltie Home</a></li>
            <li role="menuitem"><a href="/help/articles/communicating">Communicating with Your Sheltie</a></li>
            <li role="menuitem"><a href="/help/articles/barking">My Sheltie Barks</a></li>
            <li role="menuitem"><a href="/help/articles/grooming">Grooming Your Pet Sheltie</a></li>
            <li role="menuitem"><a href="/help/articles/fostering">Fostering a Sheltie</a></li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</Layout>
