---
import 'src/styles/global.css';

import Layout from '@layouts/Layout.astro';

import { Icon } from 'astro-icon/components';
---

<Layout
  title="Available Dogs"
  description="List of SC Sheltie Rescue dogs available for adoption."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <h2 class="headline first">Available for Adoption</h2>
        <p>You can view our available dogs below or on our <a href="https://www.petfinder.com/search/pets-for-adoption/?shelterRescue=d6f7beda-4e29-45df-b0da-93522ec89617" target="_blank">Petfinder site</a>. If you are interested in adopting one of our rescue dogs, please complete and submit our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeWT2ExXhpCpz-K5fELnkeUzhv5jFynlBzkv3eXl7bRnoFjVw/viewform" target="_blank">Adoption Application <Icon name="external-link" title="external link" size=10 class="inline align-text-top" /></a> form. If you have any questions feel free to <a href="mailto:adopt@scsheltierescue.com">email</a> us.</p>

        <div id="pets" class="clearfix">
          <!-- Petfinder public API was retired. This page now uses Petfinder's official widget. -->
          <!-- Pet List Widget - Start -->
          <script src="https://www.petfinder.com/pet-scroller.bundle.js"></script>
          <pet-scroller
            s3Url="https://dbw3zep4prcju.cloudfront.net/"
            apiBase="https://psl.petfinder.com/graphql"
            organization='["SC92"]'
            status="adoptable"
            petfinderUrl="https://www.petfinder.com/"
            hideBreed="false"
            limit="48"
            petListTitle="">
          </pet-scroller>
          <!-- Pet List Widget - End -->

          <!-- Fallback option if widget breaks -->
          <!--
          <div class="flex justify-center">
            <a
              href="https://www.petfinder.com/search/pets-for-adoption/?shelterRescue=d6f7beda-4e29-45df-b0da-93522ec89617"
              target="_blank"
              class="flex items-center text-xl font-semibold px-6 py-3 text-white rounded-lg bg-primary-c hover:bg-primary-c-darker transition"
            >
              SC Sheltie Rescue Petfinder site
            </a>
          </div>
          -->

          <div class="mb-5"></div>
        </div>
      </main>
    </div>
  </div>
</Layout>
