---
export const prerender = false;

import Layout from '@layouts/Layout.astro';
import AdoptableDogs from '@components/AdoptableDogs';
//import { refreshAuthToken } from '../api/oauth-token.ts';

import { Icon } from 'astro-icon/components';

//import type { AstroGlobal } from 'astro';

// try {
//   console.log('ADOPTABLE DOGS GET Astro cookie `petfinder-access-token`: ', Astro.cookies.get('petfinder-access-token'));
//   console.log('ADOPTABLE DOGS GET Astro cookie `petfinder-token-expiration`: ', Astro.cookies.get('petfinder-token-expiration'));

//   await refreshAuthToken(Astro as unknown as AstroGlobal);

//   console.log('ADOPTABLE DOGS FINAL Astro cookie `petfinder-access-token`: ', Astro.cookies.get('petfinder-access-token'));
//   console.log('ADOPTABLE DOGS FINAL Astro cookie `petfinder-token-expiration`: ', Astro.cookies.get('petfinder-token-expiration'));
// } catch (error) {
//   console.error('Error making data request:', error);
// }
---

<Layout
  title="Available Dogs"
  description="List of SC Sheltie Rescue dogs available for adoption."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <h2 class="headline first">Available for Adoption</h2>
        <p>You can view our available dogs below or on our <a href="https://www.petfinder.com/pet-search?animal_type=&pet_breed=&pet_age=&pet_size=&specialNeeds=&declawedPets=&children=&status=&shelter_pet_id=&internal=&contact=&name=&shelter_id=SC92&sort=" target="_blank">Petfinder site</a>. If you are interested in adopting one of our rescue dogs, please complete and submit our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeWT2ExXhpCpz-K5fELnkeUzhv5jFynlBzkv3eXl7bRnoFjVw/viewform" target="_blank">Adoption Application <Icon name="external-link" title="external link" size=10 class="inline align-text-top" /></a> form. If you have any questions feel free to <a href="mailto:adopt@scsheltierescue.com">email</a> us.</p>

        <div id="pets" class="clearfix">
          <AdoptableDogs
            token={Astro.cookies.get('petfinder-access-token')?.value}
            client:only="react"
          />
        </div>
      </main>
    </div>
  </div>
</Layout>