---
export const prerender = false;

import 'src/styles/global.css';

import Layout from '@layouts/Layout.astro';
// import AdoptableDogs from '@components/AdoptableDogs';

import { Icon } from 'astro-icon/components';
---

<Layout
  title="Available Dogs"
  description="List of SC Sheltie Rescue dogs available for adoption."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <h2 class="headline first">Available for Adoption</h2>
        <p>You can view our available dogs below or on our <a href="https://www.petfinder.com/pet-search?animal_type=&pet_breed=&pet_age=&pet_size=&specialNeeds=&declawedPets=&children=&status=&shelter_pet_id=&internal=&contact=&name=&shelter_id=SC92&sort=" target="_blank">Petfinder site</a>. If you are interested in adopting one of our rescue dogs, please complete and submit our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeWT2ExXhpCpz-K5fELnkeUzhv5jFynlBzkv3eXl7bRnoFjVw/viewform" target="_blank">Adoption Application <Icon name="external-link" title="external link" size=10 class="inline align-text-top" /></a> form. If you have any questions feel free to <a href="mailto:adopt@scsheltierescue.com">email</a> us.</p>

        <div id="pets" class="clearfix">
          <!--
            Custom <AdoptableDogs /> component is currently disabled due to Petfinder API decommissioning as of the 2025-11-01 Notice to Users:

            ```
            Dear Petfinder Community,
            As part of our ongoing efforts to improve and modernize the Petfinder platform, we’ve decided to decommission the Petfinder public API. This change supports a more streamlined, secure, and scalable foundation for future innovation.

            The Petfinder API will officially stop working on Dece‍mber 2, 20‍25. Until that date, your current integrations will function as usual.

            After this date, we encourage you to use our Custom Pet List Widget, which provides a simple and flexible way to display adoptable pets directly on your website. It’s easy to set up and doesn’t require coding or API access. You can learn more here: [Custom Pet List Widget Transition Guide](https://click.sfmc.petfinder.com/?qs=2040f8b2fe00898a725ca6dbb41199032b265084d305601c7b87e26ad3d2d4258d8b965375c504d9e959b454628f78435fc7f0b4876d95766106274d27bd28a6).

            Please wait until after December 2nd to switch over to the Custom Pet List Widget, as we’re actively working on final updates. Stay tuned—updated widget and setup guidance will be available soon.

            If you need a more advanced solution, please contact our Member Success team to discuss direct integration options. Reach out to us at [help@petfinder.com](https://click.sfmc.petfinder.com/?qs=2040f8b2fe00898a1390703f2a794923acb4938020b8779149186469fe04aba25724d6982a1487e1283dc9190f3194a1badc2b151f9cde546dd3f371bdee6bd3).

            Thank you for being part of the Petfinder community and for helping pets find loving homes!

            ~ Brent B., Member Success Technical Lead
            ```

            SEE:
              https://help.petfinder.com/s/article/Custom-Pet-List-Widget-Transition-Guide
              https://www.petfinder.com/tools-widgets/custom-pet-list/
          -->
          <!-- <AdoptableDogs
            client:only="react"
          /> -->
          <pet-scroller
            type='[]'
            age='[]'
            limit="48"
            status="adoptable"
            petlisttitle=""
            organization="SC92"
            apibase="https://api.petfinder.com"
            petfinderurl="https://www.petfinder.com"
            accesstoken="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJtd1NmUDQ1SEpPckFSS0RkVGM1M3JGSjNHVTJIdnk0SUxVSGR5Y3NnNGpURzRCVHIzdCIsImp0aSI6IjJUOFRwYVBFM0lmZWpGdFBUTllmbVJOa2ZpcVhQVWFRaDFNbDVZWFkiLCJpYXQiOjE3NjI2MjU5NzYsIm5iZiI6MTc2MjYyNTk3NiwiZXhwIjo0OTE4Mjk5NTc2LCJzdWIiOiIxODAyNzE4OCIsInNjb3BlcyI6W119.QsoPVR0SARewAsI8hrcVeQioiRMDeFkho77XfuyEUKRKoUvWmNoUuyGSwZSwcSRBl-72mkO6PpFk0lTYTLnee1DLpNNFaB0jw2abeGT7MLNidrb-sGX2867FfZ4rt0pwIijvi2ogOj2J50atAnwx7qiC9t82Y4D6bnHzfZj1psSq1LVXiHeRLEkdEbZfhtStX2m724QC7Q45ezXg6NkqwM9SMTJhLBaFQtoTsfOsmqlQJMdtuRkbemLLoxf7sZ_gEl6siwOmF1bjxusf3Wgcn_ESUIta0YtzNt2ecyPq9CB7FThPY3JZ5CbC68bC_GIoOcDzDqU8s63hMhcVIAw_yQ">
          </pet-scroller>

          <script src="https://www.petfinder.com/assets/widgets/scripts/main-widgets-web.js"></script>
        </div>
      </main>
    </div>
  </div>
</Layout>
