---
import Layout from '@layouts/Layout.astro';
import Slider from '@components/Slider';

import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import scsrLogoImg from '@images/SCSR-Logo-New_500x606.jpg';
import kronosImg from '@images/kronos_667x500.jpg';
import nashImg from '@images/nash_667x500.jpg';
import shadowImg from '@images/shadow_667x500.jpg';
import savvyImg from '@images/savvy_667x500.jpg';
import nash2Img from '@images/nash2_667x500.jpg';
import brittImg from '@images/britt_667x500.jpg';
import litaImg from '@images/lita_667x500.jpg';

import type { Item } from '@components/Slider';

const sliderItems: Item[] = [
  { src: kronosImg.src, width: kronosImg.width, height: kronosImg.height, alt: 'Slide 1' },
  { src: nashImg.src,  width: nashImg.width, height: nashImg.height,alt: 'Slide 2' },
  { src: shadowImg.src,  width: shadowImg.width, height: shadowImg.height,alt: 'Slide 3' },
  { src: savvyImg.src,  width: savvyImg.width, height: savvyImg.height,alt: 'Slide 4' },
  { src: nash2Img.src,  width: nash2Img.width, height: nash2Img.height,alt: 'Slide 5' },
  { src: brittImg.src,  width: brittImg.width, height: brittImg.height,alt: 'Slide 6' },
  { src: litaImg.src,  width: litaImg.width, height: litaImg.height,alt: 'Slide 7' },
];
---

<Layout
  title="SC Sheltie Rescue"
  description="South Carolina Sheltie Rescue is a non-profit volunteer group dedicated to helping Shetland Sheepdogs in South Carolina and the surrounding areas."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="head_panel panel clearfix">
        <div class="large-4 columns">
          <a href="/">
            <Image
              src={scsrLogoImg}
              alt="SCSR logo"
              class="center margin-bottom"
            />
          </a>
          <p class="header-content no-margin-bottom"><strong>South Carolina Sheltie Rescue</strong> is a non-profit group comprised of volunteers who donate their time, abilities, and homes to help displaced, abandoned, and abused Shelties find a forever home.</p>
        </div>
        <div class="large-8 columns show-for-large-up">
          <ul class="main-header-picture-slider">
            <Slider
              items={sliderItems}
              client:only="react"
            />
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <ul class="bg-scsr-logo-c mx-0">
          <li>
            <div class="p-7">
              <h2 class="text-white">Recent Donations - Thank You!</h2>
              <ul class="text-white">
                <li><em>Mike F.</em></li>
                <li><em>The Bryan Family</em></li>
                <li><em>The Cobb Family</em></li>
                <li><em>Jim F. (in memory of Marsha Ferris)</em></li> 
                <li><em>Francisco F. (in memory of Marsha Ferris)</em></li> 
                <li><em>Amanda H.</em></li> 
                <li><em>Betty J.</em></li> 
                <li><em>The Lucas Family</em></li>  
                <li><em>The Bowen Family</em></li> 
                <li><em>The Fejes Family</em></li> 
                <li><em>Judy J.</em></li> 
                <li><em>The Pedigree Foundation</em></li> 
                <li><em>The Miller Family</em></li> 
                <li><em>Jackie A. (in memory of Betty Thompson)</em></li> 
                <li><em>The Shuman Family</em></li> 
                <li><em>Jane F.</em></li> 
                <li><em>David & Mandy S. (in memory of Betty Thompson)</em></li> 
                <li><em>The Mullane Family</em></li> 
                <li><em>Ross M. (in memory of Ken Cannon)</em></li>
                <li><em>Janet W. & Lisa T. (in memory of Harvey Townsend)</em></li>
                <li><em>Mickey T. (in memory of M.B. Jenkins)</em></li>
              </ul>                  
            </div>
          </li>
        </ul>
        <div class="large-6 columns">
          <h2 class="headline first">About Us</h2>
          <p>SC Sheltie Rescue is a non-profit group comprised of volunteers who donate their time, abilities, and homes to help displaced, abandoned, and abused Shelties find a forever home. Our main goals are the protection and care of the Shelties already here, the prevention of over-breeding and poor breeding practices, and the education of any Sheltie owner who requests it.</p>
          <p>Our volunteer foster homes work with our SCSR foster Shelties by caring for them, evaluating their temperaments, housetraining them if necessary, and getting them to and from the vet for any necessary medical care.</p>
          <p>Breed rescues exist because the people involved know the breed best --&nbsp;they often consist of past and current breeders, owners of the breed, and trainers. Shelties, like other purebreds, have certain behavioral and genetic traits that can present challenges to those unfamiliar with the breed. That&#39;s why we&#39;re here and why we feel we&#39;re qualified to match our rescued Shelties with the best homes <strong>FOR THEM</strong>.</p>
        </div>
        <div class="large-6 columns">
          <h2 class="headline">Adopting a Rescue Sheltie</h2>
          <p>The first step to adopting from SC Sheltie Rescue is to fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSeWT2ExXhpCpz-K5fELnkeUzhv5jFynlBzkv3eXl7bRnoFjVw/viewform" target="_blank">Adoption Application <Icon name="external-link" title="external link" size=10 class="inline align-text-top" /></a> in full. Leaving answers blank may result in a delay in processing your application. We do not operate on a first-come, first-served basis. Instead, we aim to place our rescues in the best homes for them based on personality and any behavioral or medical issues that need to be considered. We reserve the right to refuse any applicant.</p>
        </div>
        <div class="large-6 columns">
          <h2 class="headline">Donations</h2>
          <p>Donations are always needed and welcomed. A vet bill for a Sheltie needing all vaccinations, tests, spay/neuter and <a href="https://www.1800petmeds.com">pet meds</a> can run about $300.00.</p>
          <p>Sometimes, we end up needing to do a dental and bloodwork as well. Blood panels alone cost $115.00. Donations can be sent via Paypal or mailed to: SC Sheltie Rescue, P.O. Box 11224, Rock Hill, SC 29731.</p>
          <p>Also, please check out our <a href="https://www.amazon.com/hz/wishlist/ls/1HXQOHF67S4CQ" target="_blank">Wishlist <Icon name="external-link" title="external link" size=10 class="inline align-text-top" /></a> for other great ways to help make a difference!</p>
        </div>
        <div class="large-12 columns">
          <div class="panel callout clearfix">
            <div class="large-12 medium-12 hide-for-small-only columns">
              <p class="text-center">Please donate <strong>today</strong> and help make a <strong><u>difference</u></strong>!</p>
            </div>
            <div class="large-12 medium-12 small-12 columns">
              <!-- Paypal Donate Link -->
              <form class="text-center m-0" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBdSDQW9iP/uIK+2xarDsgFtnLMe7eDuCbYXURgDDN1l7WWe9JA8UHw1yz90cyZCas1cXoxUwHit4ezSE585EGkT0WXHDroOvgQVvR9AgTFBFYMNrJj2JDboI2khxzPccCUdAKl1eIQYL/BLhc+B/sZz5lWaQxergmYzRJvSkKUKzELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIAMkAtJfZ++eAgZDXLFOWP2hq4ynAfdTHAWMix7FZJuGMs4WXvnVyWZKPtR/H1K44NCOPZZ900zFJe0H7oRI1sM0DU+ifcIrlnIOvfL8UoOzC7jA4ZSaCOG9tAMRJL/fMKoEWUFtm3EHRiOYjzW99CQMXS72z/hYFdYK3LnmNDE/1LEFG4QIeh5VYJibneH8t9owqsdViQcm+mi2gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMzEwMjIwMzA5NDFaMCMGCSqGSIb3DQEJBDEWBBT2lNgK05wLlbzfX+DvU61vhcs8bzANBgkqhkiG9w0BAQEFAASBgEwPF4iF26f+55q41RTQCJr4WC62x99KUeFSQYF/W2oXoft6gUxtXYxopBNaw48kvHm+pxphKU5A301RahogvRhUYXO4U9yc4u1XVIK9GV2WAaBqAiR6KMFxkdaLtFOV8v3aSoG7VKv07VPF0J6m2t9P1Nwxf/XL9+1Pho8m8s94-----END PKCS7-----
              ">
              <input class="cursor-pointer" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</Layout>

<style>

</style>
