---
import 'src/styles/global.css';

import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Surrendering a Sheltie"
  description="How to surrender your sheltie to SC Sheltie Rescue."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="main-content">
        <h2 class="headline first">Surrendering a Sheltie to Rescue</h2>
        <p>If you currently own a Sheltie, work with, or know of a shelter that has a Sheltie and you need rescue for him/her, please call us at <a href="tel:+18883992220">+1 (888) 399-2220</a>. If you get our voicemail, please leave a brief message with a contact number and someone will be back in touch with you the same day. You may also <a href="mailto:adopt@scsheltierescue.com">email</a> with a brief description and a photo of the dog in need.</p>
        <p>We house rescued Shelties with foster homes throughout the state, and we almost always have room for a new rescue. We are a member of the ASSA (American Shetland Sheepdog Association) National Sheltie Rescue Network, which means we must meet certain requirements for the medical care of our rescues and for approving/screening new homes. We are always ready to provide a vet reference to anyone considering relinquishing their Sheltie(s) to us.**</p>
        <p>**If you are considering working with another rescue to rehome your dog, PLEASE ask them for a vet reference. If they can't give you a vet to call who will verify that they are a good, responsible rescue, DON'T give them your dog. For every good rescue out there, there are just as many bad ones. Anyone can respresent himself as a rescue person. It's up to you to check them out.</p>

        <h2 class="headline">What happens when you surrender your Sheltie?</h2>
        <p>After the Sheltie is placed in a foster home, the first thing we do is attend to the dog's medical needs: vaccinations, heartworm and fecal tests, spay/neuter, dental cleaning if needed, microchipping, and any other vet work indicated by the dog's age and condition (bloodwork, x-rays, surgery, etc.).</p>
        <p>We evaluate the dog's behavior, and then place them up for adoption. We accept adoption applications for the dog. If an application looks like a good match, we'll conduct a vet reference check (which means we have to have a vet we can talk to who will verify that the adoption candidate is a responsible pet owner). If the vet check goes well, we then do a home visit and interview with the applicant.</p>
        <p>Once an applicant is approved to adopt, we allow them to meet any dogs we have who might be a good match for the applicant's home situation.</p>
        <p>If a good match is made, the applicant fills out and signs a legally binding contract and pays an adoption donation. Most people who adopt from us then become volunteers for our group.</p>
      </main>
    </div>
  </div>
</Layout>
