---
import 'src/styles/global.css';

import { Icon } from 'astro-icon/components';

const year: number = (new Date()).getFullYear();
---

<footer class="main-footer overflow-hidden relative bg-zinc-800 text-white">
  <section class="social-media flex justify-center items-center text-center">
    <a href="https://www.petfinder.com/member/us/sc/rock-hill/south-carolina-sheltie-rescue-sc92/" target="_blank" class="flex my-0 mx-2">
      <Icon name="petfinder" title="petfinder logo" width=75 height=50 class="text-primary-c hover:text-primary-c-darker focus:text-primary-c-darker" />
    </a>
    <a href="https://www.facebook.com/SouthCarolinaSheltieRescue" target="_blank" class="flex my-0 mx-2">
      <Icon name="facebook" title="facebook logo" width=45 height=50 class="text-primary-c hover:text-primary-c-darker focus:text-primary-c-darker" />
    </a>
    <a href="https://x.com/scsheltierescue" target="_blank" class="flex my-0 mx-2">
      <Icon name="x" title="x logo" width=45 height=50 class="text-primary-c hover:text-primary-c-darker focus:text-primary-c-darker" />
    </a>
    <a href="https://www.instagram.com/scsheltierescue/" target="_blank" class="flex my-0 mx-2">
      <Icon name="instagram" title="instagram logo" width=45 height=50 class="text-primary-c hover:text-primary-c-darker focus:text-primary-c-darker" />
    </a>
  </section>
  <section id="address" class="address text-center">
    <p class="mb-0">
      <span class="name">SC Sheltie Rescue</span><br/>
      <span class="po-box">P.O. Box 11224</span><br/>
      <span class="city-state-zip">Rock Hill, SC 29731</span><br/>
      <span class="email-addr"><a href="mailto:adopt@scsheltierescue.com">Email</a></span>
    </p>
  </section>
  <section id="copyright" class="copyright text-center font-bold">
    <small>&copy; <span id="currentYear">{year}</span> South Carolina Sheltie Rescue</small>
  </section>
</footer>

<style>
  .main-footer {
    height: var(--footer-height);
  }

  .main-footer .social-media {
    height: 100px;
  }

  .main-footer .address {
    height: 100px;
  }

  .main-footer .copyright {
    height: 50px;
    line-height: 50px;
  }
</style>
