---
// import type { PetUIContextPhoto } from 'src/pages/adoptable-dogs/index.astro';

// interface Props {
//   photos: PetUIContextPhoto[];
// }

// const { photos } = Astro.props;

// const hasPhotos = !!photos.length;
// const firstPhoto = photos.find(photo => photo.first);
// const hasFirstPhoto = !!firstPhoto;
---

<style>
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    object-fit: contain;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  /* The Close Button */
  .modal-close {
    position: absolute;
    padding: 0 10px;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
</style>

<!-- Image Modal -->
<div id="petImageModal" class="hidden fixed z-[100] pt-[100px] left-0 top-0 w-full h-full overflow-auto bg-black bg-black/90">
  <!-- The Close Button -->
  <span id="modalClose" class="modal-close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img id="modalMainImage" class="modal-content" />
</div>