<div id="petfinder-api-error" data-alert class="alert-box alert">
  <p>
    Oops, something went wrong! Please try again later or go directly to our <a href="http://www.petfinder.com/pet-search?shelterid=SC92">Petfinder site</a>.
    <a href="#" class="close">&times;</a>
  </p>
</div>
