---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Surrendering a Sheltie"
  description="Information about SC Sheltie Rescue events."
>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <main role="main" class="events main-content">
        <div class="alert-box margin-top" data-alert>
          <p><strong>***Check back here for any scheduled events!***</strong></p>
        </div>
      </main>
    </div>
  </div>
</Layout>